td {
	padding: 20px 0 0 0;
}
td:nth-child(5) {
	width: 100%;
}
td:nth-child(6) {
	width: 100%;
}

.item {
	&__datetime,
	&__amount,
	&__coin,
	&__operation,
	&__address,
	&__tx-id {
		color: rgb(255, 255, 255);
		font-size: 20px;
		font-weight: 900;
		line-height: 23px;
		background: rgb(39, 39, 39);
		padding: 18px 20px;
		text-wrap: nowrap;
		width: 100%;
	}
	&__tx-id {
		overflow: auto;
		text-overflow: ellipsis;
	}
	&__operation.buy,
	&__operation.sell {
		border: none;
		margin: 0;
	}
	&__operation.buy {
		color: rgb(0, 191, 40);
	}
	&__operation.sell {
		color: rgb(205, 0, 0);
	}

	&__item {
		position: relative;
	}

	&__item::after {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		content: "";
		width: 2px;
		height: 32px;
		background-color: rgb(247, 166, 0);
		box-shadow: 0px 0px 10px 0px rgb(247, 166, 0);
	}

	.begin {
		border-radius: 20px 0 0 20px;
	}
	.end {
		border-radius: 0 20px 20px 0;
	}
	td:last-child &__item::after {
		width: 0;
		height: 0;
	}
}
