.statistics {
	max-width: 410px;
	border-radius: 10px;
	background: rgb(39, 39, 39);
	padding: 20px;
	height: 100vh;
	&__title {
		color: rgb(255, 255, 255);
		font-size: 25px;
		font-weight: 900;
		line-height: 29px;
		margin: 0 0 12px 0;
	}
	hr {
		height: 1px;
		background: rgb(196, 196, 196);
		width: 100%;
	}
	&__body {
		margin: 12px 0 0 0;
	}
	&__text {
		color: rgba(255, 255, 255, 0.8);
		font-size: 18px;
		font-weight: 900;
		line-height: 150%;
		margin: 0 0 20px 0;
	}
	&__text:last-child {
		margin: 0;
	}
	&__img {
		margin: 0 0 20px 0;
	}
}
