.profile {
	position: relative;
	&__icon {
	}
	&__menu {
		position: absolute;
		top: 70px;
		right: 0;
	}
	&__text {
	}
}

.profile {
	position: relative;
	&__icon {
		cursor: pointer;
	}
}
.profile-menu {
	position: absolute;
	top: 70px;
	right: 0;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
	background: rgb(23, 24, 30);
	width: 300px;
	height: 190px;
	transition: all 0.3s ease 0s;
	opacity: 0;
	pointer-events: none;
	&__title {
		color: rgb(255, 255, 255);
		font-size: 19px;
		line-height: 22px;
		margin: 0 0 10px 0;
	}
	& hr {
		height: 1px;
		width: 100%;
		background: rgb(196, 196, 196);
		margin: 0 0 15px 0;
	}
	&__list {
	}
	&__list li {
		margin: 0 0 15px 0;
	}
	&__list li:last-child {
		margin: 0;
	}
	&__list li a {
		display: flex;
		align-items: center;
		color: rgb(255, 255, 255);
		font-size: 16px;
		line-height: 19px;
	}
	&__list li a img {
		margin: 0 10px 0 0;
	}
}
.profile-menu._active {
	opacity: 1;
	pointer-events: auto;
}
