.notifications {
	position: relative;
	margin: 0 30px 0 0;
	&__icon {
		cursor: pointer;
	}
	&__menu {
		position: absolute;
		z-index: 100;
		top: 68px;
		right: 0;
		padding: 15px;
		border-radius: 10px;
		box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
		background: rgb(23, 24, 30);
		width: 310px;
		height: 190px;
		overflow: auto;
		transition: all 0.3s ease 0s;
		opacity: 0;
		pointer-events: none;
	}
	&__menu._active {
		opacity: 1;
		pointer-events: auto;
	}
	&__menu::-webkit-scrollbar {
		display: none; /* Скрывает полосу прокрутки в браузерах на основе WebKit */
	}
	&__menu-list {
	}
}
