.notifications__menu-item {
	padding: 8px;
	border-radius: 5px;
	background: rgb(39, 39, 39);
	margin: 0 0 8px 0;
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 8px 0;
	}
	&-title {
		color: rgb(255, 255, 255);
		font-size: 16px;
		line-height: 19px;
	}
	&-date {
		color: rgba(255, 255, 255, 0.6);
		font-size: 14px;
		line-height: 16px;
	}
	&-text {
		color: rgba(255, 255, 255, 0.8);
		font-size: 14px;
		line-height: 16px;
	}
}

.notifications__menu-item:last-child {
	margin: 0;
}
