.content__main {
	margin: 0 30px 0 0;
}
.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	&__other {
		border-radius: 10px;
		background: rgba(39, 44, 75, 0.3);
		padding: 20px;
	}
}

@media (max-width: 550px) {
	.main {
		&__other {
			padding: 10px;
		}
	}
}
