.base {
	display: flex;
	align-items: center;
	// &__logo {
	// }
	// &__menu {
	// }
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		margin: 0 0 0 20px;
	}
	&__item:first-child {
		margin: 0 0 0 15px;
	}
	&__item a {
		color: rgb(23, 24, 30);
		font-size: 25px;
		font-weight: 400;
		line-height: 29px;
	}
	&__item a._active {
		font-weight: 900;
	}
}
