* {
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
}

body {
	background: rgb(2, 3, 19);
	overflow-x: hidden;
}

body._lock {
	overflow: hidden;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: rgb(2, 3, 19);
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		135deg,
		rgb(138, 44, 255) 0%,
		rgb(107, 5, 234) 100%
	);
	border-radius: 6px;
}

.container {
	max-width: 1400px;
	padding: 0 10px;
	margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.wrapper::before {
	content: "";
	width: 1181px;
	height: 1181px;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(38, 47, 255, 0.18) 0.804%,
		rgba(0, 0, 0, 0) 100%
	);
	position: fixed;
	top: -591px;
	left: -590px;
	pointer-events: none;
	z-index: -1;
}
.wrapper::after {
	content: "";
	width: 1181px;
	height: 1181px;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(38, 47, 255, 0.18) 0.804%,
		rgba(0, 0, 0, 0) 100%
	);
	position: fixed;
	bottom: -591px;
	right: -590px;
	pointer-events: none;
	z-index: -1;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
}

.content {
	margin: 30px 0;
}
.h1 {
	font-size: 45px;
}
