.form {
	width: 100%;
	padding: 0 0 10px 0;
	&__search-label {
		position: relative;
	}
	&__search {
		width: 100%;
		padding: 11px 15px;
		border-radius: 8px;
		background: rgba(50, 55, 81, 0.3);
		color: rgb(255, 255, 255);
		font-size: 20px;
		font-weight: 900;
		line-height: 23px;
	}
	&__search::placeholder {
		color: rgba(255, 255, 255, 0.8);
	}
	&__search-icon {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		pointer-events: none;
	}
	&__search-icon img {
	}
}

@media (max-width: 550px) {
	.form {
		padding: 0 0 5px 0;
		&__search {
			padding: 8px 10px;
			font-size: 16px;
			line-height: 19px;
		}
		&__search-icon {
			right: 10px;
		}
	}
}
